
<ion-app>
  <ion-menu side="start" menuId="manualMenu" contentId="manuals-content">
      <ion-header class="ion-no-border">
        <ion-toolbar>
          <ion-segment (ionChange)="manualSegmentChanged($event)" value="{{manualSegment}}">
            <ion-segment-button value="1">
              <ion-label>目录</ion-label>
            </ion-segment-button>
            <ion-segment-button value="2">
              <ion-label>结构检索</ion-label>
            </ion-segment-button>
            <ion-segment-button value="3">
              <ion-label>全文检索</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div *ngIf="manualSegment === '1'">
          <ion-header translucent>
            <ion-toolbar>
              <ion-buttons class="back-btn" slot="start">
                <ion-icon name="arrow-back-outline"></ion-icon>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-list>
            <ion-item *ngFor="let item of manualList" (click)="toSummary(item)" >
              {{item.title}}
            </ion-item>
          </ion-list>
        </div>
        <div *ngIf="manualSegment === '2'">
          <span>结构检索</span>
        </div>
        <div *ngIf="manualSegment === '3'">
          <span>全文检索</span>
        </div>
    </ion-content>
  </ion-menu>


  <div class="ion-page" id="manual-content">
    <ion-content class="ion-padding">
      <ion-router-outlet id="manuals-content"></ion-router-outlet>
    </ion-content>
    <ion-footer class="ion-no-border">
      <ion-toolbar>
        <ion-segment value="all" (ionChange)="segmentChanged($event)">
          <ion-segment-button value="summary" (click)="openManualMenu()">
            <ion-label>目录</ion-label>
          </ion-segment-button>
          <ion-segment-button value="fullscreen" (click)="fullScreen($event)">
            <ion-label>全屏</ion-label>
          </ion-segment-button>
          <ion-segment-button value="print" (click)="print($event)">
            <ion-label>打印</ion-label>
          </ion-segment-button>
          <ion-segment-button value="profile" (click)="profile($event)">
            <ion-label>注释</ion-label>
          </ion-segment-button>
          <ion-segment-button value="highlight" (click)="highlight($event)">
            <ion-label>标记</ion-label>
          </ion-segment-button>
          <ion-segment-button value="book" (click)="book($event)">
            <ion-label>书签</ion-label>
          </ion-segment-button>
          <ion-segment-button value="font" (click)="fontSet()">
            <ion-label>字体</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
    </ion-footer>
  <!--   <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button color="light">
        <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button color="light" (click)="settingBtn($event)">
          <ion-label>全屏</ion-label>
        </ion-fab-button>
        <ion-fab-button color="light">
          <ion-label>打印</ion-label>
        </ion-fab-button>
        <ion-fab-button color="light">
          <ion-label>注释</ion-label>
        </ion-fab-button>
        <ion-fab-button color="light">
          <ion-label>标记</ion-label>
        </ion-fab-button>
        <ion-fab-button color="light">
          <ion-label>书签</ion-label>
        </ion-fab-button>
        <ion-fab-button color="light">
          <ion-label>字体</ion-label>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab> -->
  </div>  
</ion-app>



