
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>正文字体</div>
        </ion-col>
        <ion-col>
          <div>2 of 2</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>字体大小</div>
        </ion-col>
        <ion-col>
          <div>2 of 2</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-item lines="none" detail="false" >
          <ion-button color="light" >取消</ion-button>
          <ion-button color="primary"  > 保存</ion-button>
        </ion-item>
      </ion-row>
      </ion-grid>
   