.group-grid {
    height: 100%;
}

.group-row {
    height: 100%;
}

.group-col {
    height: 100%;
    border: 1px solid #ddd;
}

.group-right {
    height: 100%;
}

.group-left {
    height: 100%;
}

.topic {
    
}