<ion-app>
  <ion-content  class="ion-padding"  fullscreen style="overflow-y: auto !important;">
    <ion-item class="paper-col">
      <ion-button expand="block" (click)="groupExam()" class="ion-no-margin add-topic-btn">组卷</ion-button>
    </ion-item>

    <ion-list>
      <ion-item class="paper-col">
        <ion-card class="paper-item">
          <ion-card-content>
            <p>c,mabdkjbaskldai</p>
            <p>Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.</p>
            <ion-fab horizontal="end" vertical="bottom" slot="fixed">
              <ion-fab-button color="light">
                <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
              </ion-fab-button>
              <ion-fab-list side="start">
                <ion-fab-button color="light">
                  <ion-icon name="logo-facebook"></ion-icon>
                </ion-fab-button>
                <ion-fab-button color="light">
                  <ion-icon name="logo-twitter"></ion-icon>
                </ion-fab-button>
                <ion-fab-button color="light">
                  <ion-icon name="logo-vimeo"></ion-icon>
                </ion-fab-button>
              </ion-fab-list>
            </ion-fab>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-app>